<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.3/css/bootstrap.min.css}" />
    <link th:rel="stylesheet" th:href="@{/css/light-theme.css}" th:if="${theme == 'light'}" />
    <link th:rel="stylesheet" th:href="@{/css/dark-theme.css}" th:if="${theme == 'dark'}" />
    <script src="changetheme.js" th:src="@{/js/changetheme.js}"></script>
    <title>Form To Do</title>
</head>
<body>
    <div class="form-check form-switch mx-4">
        <input class="form-check-input p-2" type="checkbox" role="switch" id="flexSwitchCheckChecked" checked onclick="myFunction()" />
    </div>
    <div class="container">
        <div class="row mt-5">
            <div class="col-2">
                <p><a class="btn btn-outline-success" href="/api/v1/home"><i class="bi bi-arrow-left-square-fill"></i>Back</a></p>
            </div>
            <div class="col-6">
                <h2>Edit ToDo item</h2>
                <form class="row g-3" action="#" th:action="@{/api/v1/todo/{id}(id=${todo.id})}" th:object="${todo}" method="POST">
                    <div class="form-group">
                        <div class="col-6">
                            <label for="description">Description</label>
                            <input class="form-control" type="text" th:field="*{description}" id="description" placeholder="description"/>

                        </div>
                        <div class="col-6 form-check">
                            <input class="form-check-input" type="checkbox" id="inputIsComplete" th:field="*{isCompleted}" th:checked="${isCompleted} == true" />
                            <label class="form-check-label" for="inputIsComplete">Completed?</label>
                        </div>

                        <input type="hidden" th:field="*{createdAt}"/>
                        <input type="hidden" th:field="*{updatedAt}"/>
                    </div>
                    <button type="submit" class="btn btn-outline-success mt-3"><i class="bi bi-plus-square-fill"></i> Update</button>
                </form>
            </div>
        </div>
    </div>
    <script th:src="@{/webjars/bootstrap/5.3.3/js/bootstrap.min.js}"></script>
</body>
</html>
